<!DOCTYPE html>
<html>
<head>
  <title>Heroes of Camelot</title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <style>
  .skill, .card { display: inline-block; padding-right: 5px; }
  .skill:after, .card:after { content: ','; }
  .skill:last-child:after, .card:last-child:after { content: ''; }
  .skill .hover, .card .hover { position: absolute; z-index: 1; background-color: #68a; padding: 5px; }
  img { width: 400px; height: 300px; }
  td.image { position: relative; }
  .skill-box { width: 50px; height: 51px; display: inline-block; position: absolute; border: 1px solid red; border-radius: 50%; bottom: 9px; }
  .skill-box1 { left: 20px; } .skill-box2 { left: 74px; } .skill-box3 { left: 128px; } .skill-box4 { left: 182px; } .skill-box5 { left: 236px; } .skill-box6 { left: 290px; } .skill-box7 { left: 344px; }
  </style>
  <script src="jquery.min.js"></script>
  <script src="angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <script src="bootstrap.min.js"></script>
  <script src="tabletop.min.js"></script>
  <script>
  function Card(name, clazz, stars, mana, maxlevel, hp, atk, skills){
    this.name   = name
    this.clazz  = clazz
    this.stars  = stars
    this.mana   = mana
    this.maxlevel = maxlevel
    this.hp     = hp
    this.atk    = atk
    this.skills = skills
  }
  function Skill(name, description, cards){
    this.name        = name
    this.description = description
    this.cards       = cards
  }

  app = angular.module("myApp", [])
  app.controller('AppController', ['$scope', function(scope){
    scope.search = ''
    scope.show_images = true

    scope.hovers = {}
    function updateCards(data, tabletop) {
      // console.log(data)
      scope.$apply(function(){
        scope.cards = []
        for(var i in data.elements){
          var obj = data.elements[i]
          var skills = []
          for(var j = 1; j <= 7; j++){
            var skill = obj['skill' + j]
            if (skill && skill != '-') {
              skills.push(skill)
            }
          }
          var card = new Card(obj.name, obj.class, obj.stars, obj.mana, obj.maxlevel, obj.hp, obj.atk, skills)
          scope.cards.push(card)
        }
      })
    }
    function updateSkills(data, tabletop){
      // console.log(data)
      scope.$apply(function(){
        scope.skills = []
        for(var i in data.elements){
          var obj = data.elements[i]
          var cards = []
          for(var j = 1; j <= 4; j++){
            var card = obj['card' + j]
            if (card) {
              cards.push(card)
            }
          }
          var skill = new Skill(obj.name, obj.description, cards)
          scope.skills.push(skill)
        }
      })
    }
    Tabletop.init( { key: '0AgrwVCi0Zp_LdHF0d1Y5R3NRTXFtZk1rUjJaUEI2dUE',
                     callback: function(data, tabletop){
                       updateCards(data.Cards, tabletop)
                       updateSkills(data.Skills, tabletop)
                     },
                   simpleSheet: false } )
  }])
  </script>
</head>

<body ng-controller="AppController">
  <div id="main">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="search" class="col-sm-2 control-label">Search</label>
        <div class="col-sm-10">
          <input id="search" autofocus class="form-control" ng-model="search">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="show_images">
              Show images
            </label>
          </div>
        </div>
      </div>
    </form>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Stars</th>
          <th>Mana</th>
          <th>Max level</th>
          <th>HP</th>
          <th>ATK</th>
          <th>Skill combos</th>
          <th ng-if="show_images">Image</th>
        </tr>
      </thead>
      <tr ng-repeat="card in cards | filter:search">
        <td>{{card.name}}</td>
        <td>{{card.clazz}}</td>
        <td>{{card.stars}}</td>
        <td>{{card.mana}}</td>
        <td>{{card.maxlevel}}</td>
        <td>{{card.hp}}</td>
        <td>{{card.atk}}</td>
        <td><div class="skill" ng-repeat="skill in card.skills" ng-mouseenter="hovers[card.name+skill]=true" ng-mouseleave="hovers[card.name+skill]=false">{{skill}}<div class="hover" ng-if="hovers[card.name+skill]"><img ng-src="skills/{{skill}}.jpg"></div></div></td>
        <td ng-if="show_images"><img ng-src="cards/{{card.name}}.jpg"></td>
      </tr>
    </table>
  </div>
  <script type="text/javascript">
  angular.bootstrap(document, ['myApp'])
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48535839-2', 'sullerandras.github.io');
    ga('send', 'pageview');
  </script>
</body>
</html>
