<!DOCTYPE html>
<html>
<head>
  <title>Heroes of Camelot</title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <style>
  .skill, .card { display: inline-block; padding-right: 5px; }
  .skill:after, .card:after { content: ','; }
  .skill:last-child:after, .card:last-child:after { content: ''; }
  .skill .hover, .card .hover { position: absolute; z-index: 1; background-color: #68a; padding: 5px; }
  img { width: 400px; height: 300px; }
  td.image { position: relative; }
  .skill-box { width: 50px; height: 51px; display: inline-block; position: absolute; border: 1px solid red; border-radius: 50%; bottom: 9px; }
  .skill-box1 { left: 20px; } .skill-box2 { left: 74px; } .skill-box3 { left: 128px; } .skill-box4 { left: 182px; } .skill-box5 { left: 236px; } .skill-box6 { left: 290px; } .skill-box7 { left: 344px; }
  .details { display: inline-block; }
  </style>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.js"></script>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
  <script src="lib/bootstrap.min.js"></script>
  <script src="lib/tabletop.min.js"></script>
  <script>
  function logEvent(category, action, label, value){
    if (typeof(ga) != 'undefined') {
      ga('send', 'event', category, action, label, value)
    } else {
      console.log('send', 'event', category, action, label, value)
    }
  }
  function Card(name, clazz, stars, mana, maxlevel, hp, atk, skills){
    this.name   = name
    this.clazz  = clazz
    this.stars  = stars
    this.mana   = mana
    this.maxlevel = maxlevel
    this.hp     = hp
    this.atk    = atk
    this.skills = skills
  }
  function Skill(name, description, cards){
    this.name        = name
    this.description = description
    this.cards       = cards
  }
  function checkvisible(element) {
    if (!element.is(':visible')) return false
    var vpH = $(window).height(), // Viewport Height
        st = $(window).scrollTop(), // Scroll Top
        sb = st + vpH, // Scroll Bottom
        t = element.offset().top,
        b = t + element.height();
    return st <= b && t <= sb;
  }
  function is_bot(){
    try {
      return window.navigator.userAgent.indexOf('Googlebot') >= 0
    } catch (e) {
      return true
    }
  }

  app = angular.module("myApp", ['ngRoute'])
  app.config(function($routeProvider, $locationProvider) {
    $locationProvider.html5Mode(false)
    $routeProvider
      .when('/', { templateUrl: 'main.html' })
      .when('/cards/:cardId', { templateUrl: 'card.html', controller: 'CardController' })
      .when('/skills/:skillId', { templateUrl: 'skill.html', controller: 'SkillController' })
      .otherwise({redirectTo: '/'})
  })
  app.filter('limit', function() {
    return function(input, all) {
      if (all || !input) return input
      return input.slice(0, 20)
    }
  })
  app.directive('lazyload', function($document) {
    return function(scope, element, attr){
      function onScroll(e){
        if (checkvisible(element)) {
          element.attr('src', element.attr('lazyload'))
        } else {
          element.attr('src', 'placeholder.png')
        }
      }
      $document.on('scroll', onScroll)
      scope.$watch(function(){ return checkvisible(element) }, function(visible){
        if (visible) {
          element.attr('src', element.attr('lazyload'))
        } else {
          element.attr('src', 'placeholder.png')
        }
      })
    }
  })
  app.factory('DataBase', function($rootScope, $q){
    function updateCards(data, tabletop) {
      var cards = []
      for(var i in data.elements){
        var obj = data.elements[i]
        var skills = []
        for(var j = 1; j <= 7; j++){
          var skill = obj['skill' + j]
          if (skill && skill != '-') {
            skills.push(skill)
          }
        }
        var card = new Card(obj.name, obj.class, obj.stars, obj.mana, obj.maxlevel, obj.hp, obj.atk, skills)
        cards.push(card)
      }
      return cards
    }
    function updateSkills(data, tabletop){
      var skills = []
      for(var i in data.elements){
        var obj = data.elements[i]
        var cards = []
        for(var j = 1; j <= 4; j++){
          var card = obj['card' + j]
          if (card) {
            cards.push(card)
          }
        }
        var skill = new Skill(obj.name, obj.description, cards)
        skills.push(skill)
      }
      return skills
    }
    return {query: function(){
      if ($rootScope.data) {
        var deferred = $q.defer()
        deferred.resolve($rootScope.data)
        return deferred.promise
      } else {
        if (!$rootScope.data_promise) {
          var deferred = $q.defer()
          Tabletop.init( { key: '0AgrwVCi0Zp_LdHF0d1Y5R3NRTXFtZk1rUjJaUEI2dUE',
                           callback: function(data, tabletop){
                             var cards  = updateCards(data.Cards, tabletop)
                             var skills = updateSkills(data.Skills, tabletop)
                             $rootScope.data = {cards: cards, skills: skills}
                             $rootScope.data_promise = undefined
                             deferred.resolve($rootScope.data)
                           },
                         simpleSheet: false } )
          $rootScope.data_promise = deferred.promise
        }
        return $rootScope.data_promise
      }
    }}
  })
  app.controller('AppController', function($rootScope, $scope, DataBase){
    $scope.search = ''
    $scope.show_all_cards = is_bot()
    $scope.currentTab = 'cards'

    $rootScope.hovers = {}
    $scope.mouseenterSkill = function(card, skill){
      $scope.hovers[card.name + skill] = true
      logEvent('skill', 'hover', skill)
    }
    $scope.mouseleaveSkill = function(card, skill){
      $scope.hovers[card.name + skill] = false
    }
    $scope.isSkillHovered = function(card, skill){
      return $scope.hovers[card.name + skill]
    }
    $scope.mouseenterCard = function(skill, card){
      $scope.hovers[skill.name + card] = true
      logEvent('card', 'hover', card)
    }
    $scope.mouseleaveCard = function(skill, card){
      $scope.hovers[skill.name + card] = false
    }
    $scope.isCardHovered = function(skill, card){
      return $scope.hovers[skill.name + card]
    }
    $scope.showTab = function(tab){
      $scope.currentTab = tab
      logEvent('tab', 'click', tab)
    }
    $scope.isTabVisible = function(tab){
      return $scope.currentTab == tab
    }
    DataBase.query().then(function(data){
      $scope.cards  = data.cards
      $scope.skills = data.skills
    })
  })
  app.controller('CardController', function($rootScope, $scope, $routeParams, DataBase){
    $rootScope.hovers = {}
    DataBase.query().then(function(data){
      for (var index in data.cards){
        var card = data.cards[index]
        if (card.name == $routeParams.cardId){
          $scope.card = card
          logEvent('card', 'view', card.name)
          break
        }
      }
    })
  })
  app.controller('SkillController', function($rootScope, $scope, $routeParams, DataBase){
    $rootScope.hovers = {}
    DataBase.query().then(function(data){
      for (var index in data.skills){
        var skill = data.skills[index]
        if (skill.name == $routeParams.skillId){
          $scope.skill = skill
          logEvent('skill', 'view', skill.name)
          break
        }
      }
    })
  })
  </script>
</head>

<body ng-controller="AppController">
  <div ng-view></div>
  <script type="text/ng-template" id="main.html">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="search" class="col-sm-2 control-label">Search</label>
        <div class="col-sm-10">
          <input id="search" autofocus class="form-control" ng-model="search">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="show_all_cards">
              Show all cards and all skills (might be slow)
            </label>
          </div>
        </div>
      </div>
    </form>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active" ng-class="{active: isTabVisible('cards')}"><a href ng-click="showTab('cards')">Cards</a></li>
      <li ng-class="{active: isTabVisible('skills')}"><a href ng-click="showTab('skills')">Skills</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="cards" ng-class="{active: isTabVisible('cards')}" ng-show="isTabVisible('cards')">
        <table class="cards table table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Class</th>
              <th>Stars</th>
              <th>Mana</th>
              <th>Max level</th>
              <th>HP</th>
              <th>ATK</th>
              <th>Skill combos</th>
              <th>Image</th>
            </tr>
          </thead>
          <tr ng-repeat="card in cards | filter:search | limit:show_all_cards" itemscope itemtype="http://schema.org/Person">
            <td><a ng-href="#/cards/{{card.name}}" itemprop="name">{{card.name}}</a></td>
            <td itemprop="gender">{{card.clazz}}</td>
            <td>{{card.stars}}</td>
            <td>{{card.mana}}</td>
            <td>{{card.maxlevel}}</td>
            <td>{{card.hp}}</td>
            <td>{{card.atk}}</td>
            <td><div class="skill" ng-repeat="skill in card.skills" ng-mouseenter="mouseenterSkill(card, skill)" ng-mouseleave="mouseleaveSkill(card, skill)"><a ng-href="#/skills/{{skill}}">{{skill}}</a><div class="hover" ng-if="isSkillHovered(card, skill)"><img ng-src="skills/{{skill}}.jpg"></div></div></td>
            <td class="image"><img ng-src="cards/{{card.name}}.jpg" itemprop="image"><div ng-repeat="skill in card.skills" class="skill-box skill-box{{$index+1}}"></div></td>
          </tr>
        </table>
      </div>
      <div class="tab-pane" id="skills" ng-class="{active: isTabVisible('skills')}" ng-show="isTabVisible('skills')">
        <table class="skills table table-hover table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Cards</th>
              <th>Image</th>
            </tr>
          </thead>
          <tr ng-repeat="skill in skills | filter:search | limit:show_all_cards">
            <td><a href="#/skills/{{skill.name}}">{{skill.name}}</a></td>
            <td>{{skill.description}}</td>
            <td><div class="card" ng-repeat="card in skill.cards" ng-mouseenter="mouseenterCard(skill, card)" ng-mouseleave="mouseleaveCard(skill, card)"><a href="#/cards/{{card}}">{{card}}</a><div class="hover" ng-if="isCardHovered(skill, card)"><img ng-src="cards/{{card}}.jpg"></div></div></td>
            <td class="image"><img ng-src="skills/{{skill.name}}.jpg"><div ng-repeat="card in skill.cards" class="card-box card-box{{$index+1}}"></div></td>
          </tr>
        </table>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="card.html">
    <a href="#/" class="btn btn-default">&lt; Back to list</a>
    <div ng-if="card" itemscope itemtype="http://schema.org/Person">
      <div class="pull-right">
        <img ng-src="cards/{{card.name}}.jpg" itemprop="image">
      </div>
      <div class="details">
        <table class="table">
          <tr><th>Name:</th><td itemprop="name">{{card.name}}</td></tr>
          <tr><th>Class:</th><td itemprop="gender">{{card.clazz}}</td></tr>
          <tr><th>Stars:</th><td>{{card.stars}}</td></tr>
          <tr><th>Mana:</th><td>{{card.mana}}</td></tr>
          <tr><th>Max Level:</th><td>{{card.maxlevel}}</td></tr>
          <tr><th>HP:</th><td>{{card.hp}}</td></tr>
          <tr><th>ATK:</th><td>{{card.atk}}</td></tr>
          <tr>
            <th>Skills:</th>
            <td><div class="skill" ng-repeat="skill in card.skills" ng-mouseenter="mouseenterSkill(card, skill)" ng-mouseleave="mouseleaveSkill(card, skill)"><a ng-href="#/skills/{{skill}}">{{skill}}</a><div class="hover" ng-if="isSkillHovered(card, skill)"><img ng-src="skills/{{skill}}.jpg"></div></div></td>
          </tr>
        </table>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="skill.html">
    <a href="#/" class="btn btn-default">&lt; Back to list</a>
    <div ng-if="skill">
      <div class="pull-right">
        <img ng-src="skills/{{skill.name}}.jpg">
      </div>
      <div class="details">
        <table class="table">
          <tr><th>Name:</th><td>{{skill.name}}</td></tr>
          <tr><th>Description:</th><td>{{skill.description}}</td></tr>
          <tr><th>Cards:</th><td><div class="card" ng-repeat="card in skill.cards" ng-mouseenter="mouseenterCard(skill, card)" ng-mouseleave="mouseleaveCard(skill, card)"><a ng-href="#/cards/{{card}}">{{card}}</a><div class="hover" ng-if="isCardHovered(skill, card)"><img ng-src="cards/{{card}}.jpg"></div></div></td></tr>
        </table>
      </div>
    </div>
  </script>
  <script type="text/javascript">
  angular.bootstrap(document, ['myApp'])
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48535839-6', 'heroes-of-camelot.info');
    ga('send', 'pageview');
  </script>
</body>
</html>
